<!DOCTYPE html>
<html>
    <head>
        <title>Edit Adventure</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h3>Your adventure is {{ adventure.getName }}</h3>
            <p>
                <em>Description:</em> {{ adventure.getDescription }}
            </p>
                {% if activities is not empty %}

                    <h4>Your Activities are:</h4>
                        <ol>
                        {% for action in adventure.getActivities %}
                            <li>
                                {{ action.getName }}
                                <ol>
                                    <form action="/location" method="post">
                                        <input type="hidden" name="adventure_id" value=" {{ adventure.getId }}">
                                        <label for="Long">Enter Activity Longitude</label>
                                        <input type="number" step="any" name="longitude">
                                    </form>
                                </ol>
                            </li>
                        {% endfor %}
                        </ol>

                        <form action="/adventure_add_activity" method="post">
                            <input type="hidden" name="adventure_id" value=" {{ adventure.getId }}">
                            <label for="activity_name">Add an Activity</label>
                            <select name="activity_id" type="text">

                                {% for event in activities %}
                                    <option value="{{ event.getId }}">{{ event.getName }}</option>
                                {% endfor %}

                            </select>
                            <button type='submit' class="btn">Add Activity to Adventure</button>
                        </form>
                        <form action="/adventure_drop_activity" method="post">
                            <input type="hidden" name="adventure_id" value=" {{ adventure.getId }}">
                            <label for="activity_name">Drop an Adventure</label>
                            <select name="activity_id" type="text">

                                {% for event in adventure.getActivities %}
                                    <option value="{{ event.getId }}" required>{{ event.getName }}</option>
                                {% endfor %}

                            </select>
                            <button type='submit' class="btn">Drop Activity from Adventure</button>
                        </form>

                    {% else %}
                        <h4>There are no actions in this adventure</h4>
                {% endif%}



                <a href="/admin"><button class="btn" type="submit">Back to Home</button></a>
        </div>
    </body>
</html>
